<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Rango</title>
</head>
<body>
<h1>Rango says...</h1>
<div>
hey there partner! <br />
<strong>{{ boldmessage }}</strong><br />
</div>
<div>
<a href="/rango/about/">Rango says hey there partner!</a><br />
<!--    <img src="/static/images/rango.jpg" alt="Picture of Rango" />-->
    <img src="{% static 'images/rango.jpg' %}"
alt="Picture of Rango" /> <!-- New line -->

    <img src="{{ '/media/' }}django2.jpg" alt="django2.jpg"/>.

</div>
</body>
</html>